global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 16384

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend web
    bind :80
    default_backend web_servers

backend web_servers
    balance roundrobin
    option forwardfor
    server APP01 tms_server:80 check
