[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }

[dev-packages]
black = "*"
httpx = "*"
pytest = "*"
python-semantic-release = "*"
sphinx = "*"
furo = "*"
myst-parser = "*"
sphinx-design = "*"
sphinxcontrib-mermaid = "*"
sphinx-copybutton = "*"
sphinx-autoapi = "*"
mkdocs = "*"

[requires]
python_version = "3.11"
