[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
email-validator = "*"

[dev-packages]
black = "*"
httpx = "*"
pytest = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}
pymdown-extensions = "*"
mkdocs-glightbox = "*"
neoteroi-mkdocs = "*"

[requires]
python_version = "3.11"
